{
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "commonjs": {
      "presets": [
        "es2015"
      ]
    },
    "es": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
